@import "./common/util/variables";
@import "./common/util/colors.scss";
@import "./common/util/mixins";
body{
    background: radial-gradient($background-color-main, $background-color-secondary);
}
#web {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 85vh;
    main,
    aside {
        margin: 5px;
    }
    main {
        height: 58vh;
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
        overflow-y: auto;
        // justify-content: flex-end; Bug: breaks scroll
        .line {
            display: flex;
            align-items: center;
            justify-content: center;
            .result {
                width: 10px;
                height: 10px;
            }
            .hole{
                cursor: pointer;
            }
        }
    }
    
    aside {
        border-left: 2px solid $aside-border;
        #check {
            font-size:23px;
            background-color: $check-bg;
            i {
                color: $check-color;
                margin-left: 1.5px;
                transition: all .4s;
                &:hover{
                    color: $check-hover-color;   
                }
            }
        }
        div{
            cursor: pointer;
        }
    }

    .hole,
    .result,
    aside div {
        background-color: $ball-color;
        border-radius: 25px;
        margin: 3px;
        border: 1px solid $ball-border-color;
    }
    .hole,
    aside div {
        width: 25px;
        height: 25px;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        @import "index-desktop.module";
    }
    
}
