$background-color-main: #a0ffbe;
$background-color-secondary: #95e71252;
$aside-border: #80808033;
$check-bg: lightgreen;
$check-color: white;
$check-hover-color: green;
$ball-color: grey;
$ball-border-color: #0000003d;

